:root {
	--font: 'Roboto';
	--color-background-primary: #fff;
	--color-background-secondary: #f5f5f5;
	--color-heading: #282727;
	--color-primary: #70abcf;
	--color-primary-darker: #5193b8;
	--color-secondary: #e5e5e5;
	--color-text: #75787c;
}
